// Colors
$error: rgb(255, 0, 153);
$dark: rgba(34, 34, 34, 0.87);
$white: #fff;
$black: #000;
$purple: #670094;
$pink: #e500dd;

$shape1: rgba(103, 15, 184, 0.45);
$shape2: rgba(234, 0, 199, 0.45);
$shape3: rgba(144, 144, 144, 0.45);
$shape4: rgba(255, 6, 143, 0.939);

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
