@import "@/presentation/assets/variables";

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  .background__shape1 {
    position: absolute;
    right: -5%;
    top: -5%;
    width: 600px;
    height: 600px;
    background: $shape1;
    border-radius: 100%;
    z-index: -1;
  }

  .background__shape2 {
    position: absolute;
    right: 60%;
    top: 10%;
    width: 600px;
    height: 600px;
    background: $shape2;
    border-radius: 100%;
    z-index: -1;
  }

  .background__shape3 {
    position: absolute;
    right: 20%;
    bottom: -5%;
    width: 500px;
    height: 500px;
    background: $shape3;
    border-radius: 100%;
    z-index: -1;
  }

  .background__shape4 {
    position: absolute;
    right: 40%;
    top: -25%;
    width: 300px;
    height: 300px;
    border: 15px solid $shape4;
    border-radius: 100%;
    z-index: -1;
  }
}
