@import "@/presentation/assets/variables";

.column {
  height: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: $tablet) {
    min-width: 300px;
    max-width: 500px;
  }
}

.column--is-dragging {
  border: 2px dashed $black;
}

.column__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  height: 3rem;
  font-size: 0.75rem;

  @media screen and (min-width: $tablet) {
    font-size: 1rem;
  }
}

.column__title {
  width: 100%;
}
